    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-white">It's not NASA, but INC CORPORATION.</span>
        </div>
    </footer>

</body>

</html>
