<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribute</title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="style.css" type="text/css" rel="stylesheet" />
    <!-- JS -->
    <script src="script.js"></script>
    <script defer src="contribute.js"></script>
</head>

<body>
    <%- include('partials/header') %>
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-1 text-center bg-light" id="main_canvas">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal iwantwhite">Everybody wants to contribute!</h1>
                <p class="lead fw-normal iwantwhite">Well I'm here to help you out, we need some kind of informations before...</p>
            </div>
        </div>
        <div class="container">
            <div class="row g-5">
                <div class="col-md-12 col-lg-12">
                    <h2 class="mb-3 paddinme">Details about you</h2>
                    <form class="needs-validation" id="contributeForm" onsubmit="sendForm(); return false;">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Username</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="Username" required>
                                    <div class="invalid-feedback">
                                        Your username is required.
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="you@example.com">
                                <div class="invalid-feedback">
                                    Please enter a valid email address for shipping updates.
                                </div>
                            </div>

                            <hr class="my-4">

                            <h2 class="mb-3">Let's see how the planet is: </h2>

                            <div class="card">
                                <div class="card-body text-center d-flex justify-content-center align-items-center flex-column">
                                    <h5>This is the most important part In My Opinion, the color...</h5>
                                    <input id="colorPicker" type="color"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="planetType">Type</label>
                                    <select class="custom-select d-block w-100" id="planetType" required="">
                                        <option value="superEarth">Super-Earth</option>
                                        <option value="giantPlanet">Giant planet</option>
                                        <option value="icePlanet">Ice planet</option>
                                        <option value="mesoplanet">Mesoplanet</option>
                                        <option value="miniNeptune">Mini-Neptune</option>
                                        <option value="planetar">Planetar</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid planet type
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="material" class="form-label">Material</label>
                                    <input type="text" class="form-control" id="material" placeholder="Rock" value="" required>
                                    <div class="invalid-feedback">
                                        Material is required
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="solarSystem" class="form-label">Solar System</label>
                                    <input type="text" class="form-control" id="solarSystem" placeholder="Milky Way" value="">
                                </div>
                            </div>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="canSustainEarthLife">
                                <label class="form-check-label" for="canSustainEarthLife">Mmm, important question, can it sustain Earth life?</label>
                            </div>

                            <hr class="my-2">

                            <h4 class="mb-3">Nerd data: </h4>

                            <div class="row g-1">
                                <div class="col-4">
                                    <label for="distanceToEarth" class="form-label">Distance to Earth</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">Km</span>
                                        <input type="text" class="form-control" id="distanceToEarth" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            The distance is important Keren!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="mass" class="form-label">Mass</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">Kg</span>
                                        <input type="text" class="form-control" id="mass" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            Mass is important Keren!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="volume" class="form-label">Volume</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">V</span>
                                        <input type="text" class="form-control" id="volume" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            Ah Volume, this is also important...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-4">
                                    <label for="gravity" class="form-label">Gravity</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">m/s2</span>
                                        <input type="text" class="form-control" id="gravity" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            Grativation, one day will pull you away!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="acceleration" class="form-label">Acceleration</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">Km/h</span>
                                        <input type="text" class="form-control" id="acceleration" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            Acceleration, the thing you get bigger in order to impress girls!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="density" class="form-label">Density</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text">Kg/m3</span>
                                        <input type="text" class="form-control" id="density" placeholder="Username" required>
                                        <div class="invalid-feedback">
                                            Karen, I dare you!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-2">
                            <h4 class="mb-3">Discovery data: </h4>

                            <div class="row g-1">
                                <div class="col-6">
                                    <label for="discoveredOn" class="form-label">When that happened?</label>
                                    <div class="input-group has-validation">
                                        <input type="date" class="form-control" id="discoveredOn" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="discoveredBy" class="form-label">Who discovered this?</label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" id="discoveredBy" placeholder="Whom discovered this?" required>
                                        <div class="invalid-feedback">
                                            Karen, I dare you!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">
                            <h5 class="mb-3">Here you go, tell us some facts about this planet, if you have of course: </h5>

                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="facts" style="height: 100px"></textarea>
                                <label for="facts">Facts</label>
                            </div>

                            <button class="w-100 btn btn-warning btn-lg" onClick="sendForm()" type="submit">Add this bad boy!</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>
