<%- include('partials/head', { scripts: [] }) %>

<%- include('partials/header') %>
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="main_canvas">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-1 fw-normal iwantwhite">404</h1>
                <p class="lead fw-normal iwantwhite">How you ended up here? I hope you were looking for planets...</p>
                <a class="btn btn-outline-secondary iwantwhite" href="/">Take me home please</a>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
