<%- include('partials/head', { scripts: [] }) %>

<%- include('partials/header') %>
    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="main_canvas">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <% for(let i = 0; i < 5; i++) { %>
                    <h1 class="display-1 fw-normal iwantwhite">404</h1>
                <% } %>
                <h2 class="display-4 fw-normal iwantwhite">How you ended up here? <br/> I hope you were looking for planets...</h2>
                <a class="btn btn-outline-secondary iwantwhite" href="/">Take me home please</a>
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
